.container{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
}

.subContainer{
  height: 60vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: white;
  position: relative;
  border-radius: 5px;
}

.innerBox{
  height: 90%;
  width: 80%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: flex-start;
  font-size: large;
  font-weight: bold;
  padding-top: 0.5rem;
  /* border: 1px solid red; */
}

.asterisk{
  color: red;
}

.label, .input{
  padding: 0.5rem 0rem;
  font-size: small;
  /* border: 1px soslid red; */
}

.input{
  width: 100%;
}

.priorityBox{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  
}

.button{
  /* width: 50%; */
  background: none;
  padding: 3px;
  border: 2px solid #E2E2E2;
  border-radius: 3px;
  font-size: x-small;
}

.pinkCircle, .blueCircle, .greenCircle, .plusImg{
  margin-right: 0.5rem;
}

.plusImg{
  height: 2vh;
  width: 2vh;
}

.buttonContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 1rem; */
  width: 80%;
  margin-bottom: 2%;
  /* border: 1px solid black; */
}

.checklistBox{
  width: 100%;
  height: 48%;
  font-size: small;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  /* border: 1px solid black; */
}

.task{
  display: flex;
justify-content: space-between;
  padding: 0.3rem 0rem;
  margin: 0.2rem 0rem;
  font-size: small;
  border: 1px solid #E2E2E2;
  border-radius: 10px;
}

.taskBox{
  width: 90%;
  /* border: 1px solid salmon; */
}

.checkbox{
  margin: 0rem 0.3rem;
}

.addNew{
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: #767575;
  margin-top: 0.5rem;
}

.taskInput{
  width: 90%;
}

.save{
  width: 47%;
  background-color: #17A2B8;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 0.3rem 0.7rem;
  cursor: pointer;
  font-weight: bold;
  font-size: small;
}

.cancel{
  width: 47%;
  background-color: white;
  color:  #CF3636;
  border-radius: 5px;
  border: 1px solid #CF3636;
  padding: 0.2rem 0.3rem;
  cursor: pointer;
  font-weight: bold;
  font-size: small;
  text-align: center;
}

.buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  /* border: 1px solid red; */
}