.container{
  width: 85%;
  height: 100%;
}

.nameDisplay, .heading{
  width: 100%;
  height: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding: 0rem 0.5rem;
  box-sizing: border-box;
  border: 1px solid red;
}

.board{
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.addPeople{
  font-size: small;
  color: #707070;
  margin-left: 1rem;
  cursor: pointer;
}

.date{
  color: #707070;
}

.ticketContainer{
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  /* justify-content: space-between; */
  align-items: center;
  /* border: 1px solid red; */
}

.subContainer{
  height: 100%;
  width: 25%;
  margin-left: 1rem;
  background-color: #EEF2F5;
}