.container{
  height: 100%;
  width: 30%;
  margin-left: 1rem;
  background-color: #EEF2F5;
}

.heading{
  width: 85%;
  padding: 0.5rem 0rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.imgBox{
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.plusImg{
  height: 2.5vh;
  width: 2.5vh;
}


.taskContainer{
  overflow-y: scroll;
  height: 90%;
}


.task{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 4%;
  border-radius: 10px;
  padding: 2%; 
}


.innerBox{
  position: relative;
  width: 90%;
  height: 90%;
}

.collapse, .popUpDots, .expandCollapse{
  cursor: pointer;
}

.boxOne{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: x-small;
  margin: 3% 0%;
}


.boxTwo{
  margin: 3% 0%;
  cursor: pointer;
}


.checklist{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: small;
  font-weight: bold;
  margin: 3% 0%;
}


.taskBox{
    display: flex;
  justify-content: space-between;
    padding: 0.3rem 0rem;
    margin: 0.2rem 0rem;
    font-size: small;
    border: 1px solid #E2E2E2;
    border-radius: 10px;
}


.checkbox{
  margin: 0rem 0.3rem;
}


.taskInput{
  width: 90%;
}


.dueDate{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: xx-small;
  font-weight: bold;
  margin: 3% 0%;
}


.taskStatus{
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  background-color: #DBDBDB;
  padding: 3%;
  margin: 1%;
  cursor: pointer;
}


.statusBox{
  display: flex;
  justify-content: flex-end;
  width: 70%;
  box-sizing: border-box;
}


.dateStatus{
  border: none;
  border-radius: 5px;
  padding: 3%;
  margin: 1%;
  
}


.popUp{
  width: 60%;
  position: absolute;
  right: 0px;
  background: white;
  border-radius: 5px;
  box-shadow: 0px 2px 22px 0px #7E7A7A40;
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.edit, .share, .delete{
  background: none;
  border: none;
  padding: 0.1rem;
  font-weight: bold;
}

.delete{
  color: #CF3636;
}

.assignedTo{
  background-color: #FFEBEB;
  border-radius: 50%;
  padding: 0.3rem;
  margin-left: 0.2rem;
  font-size: x-small;
  cursor: pointer;
}

.priority{
  margin-left: 0.3rem;
}